* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

nav {
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover {
  background-color: #f0f0f0;
}

nav li:first-child {
  margin-right: auto;
  font-size: 25px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  visibility: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
}

.sidebar.show {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.menuButton {
  display: none;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menuButton {
    display: block;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
  .menuButton {
    display: block;
  }
}
