body {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

a,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
li,
nav,
p {
  font-family: Space Grotesk, sans-serif
}

header {
  align-items: center;
  background-color: #282c34;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  transition: background-color .5s ease, color .5s ease
}

.logo h1 {
  color: #fff;
  font-size: 1.5rem;
  margin: 0
}

.logo a,
.logo h1 {
  text-decoration: none
}

.logo a {
  color: inherit
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0
}

nav li {
  margin: 0 10px
}

nav a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none
}

nav a.active {
  border-bottom: 2px solid #61dafb;
  font-weight: 700
}

nav a:hover {
  text-decoration: none
}

.menu-toggle,
.theme-toggle {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem
}

.menu-toggle:focus,
.theme-toggle:focus {
  outline: none
}

button:hover {
  color: #61dafb
}

.dark-mode {
  background-color: #121212;
  color: #fff
}

@media (max-width:768px) {
  header {
    flex-direction: column;
    text-align: center
  }

  .logo h1 {
    font-size: 1.25rem
  }

  nav ul {
    flex-direction: column
  }

  nav.open ul {
    display: flex
  }

  nav li {
    margin: 10px 0
  }

  nav a {
    font-size: .9rem
  }

  .menu-toggle,
  .theme-toggle {
    font-size: 1.25rem
  }
}

@media (max-width:480px) {
  .logo h1 {
    font-size: 1rem
  }

  nav a {
    font-size: .8rem
  }

  .menu-toggle,
  .theme-toggle {
    font-size: 1rem
  }
}

.home {
  padding: 50px 20px;
  text-align: center
}

.flex-container,
.intro {
  margin-bottom: 30px
}

.flex-container {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center
}

.profile-image {
  flex: 1 1
}

.profile-image img {
  border-radius: 12.5px;
  width: 200px
}

.typed-container {
  align-items: center;
  display: flex;
  flex: 2 1;
  height: 40px;
  justify-content: center
}

.typed-text {
  font-size: 2.5rem
}

.call-to-action {
  margin-top: 20px
}

.call-to-action a {
  color: #61dafb;
  font-size: 1.2rem;
  text-decoration: none
}

@media (max-width:768px) {
  .flex-container {
    flex-direction: column
  }

  .profile-image img {
    width: 100px
  }

  .typed-text {
    font-size: 1.5rem
  }
}

@media (max-width:480px) {
  .typed-text {
    font-size: 1.2rem
  }

  .call-to-action a {
    font-size: 1rem
  }
}

* {
  box-sizing: border-box
}

.about {
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px #0000001a;
  padding: 50px
}

.about h2 {
  color: #282c34;
  margin-bottom: 30px;
  text-align: center
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

.education,
.interests,
.skills {
  margin-bottom: 30px;
  text-align: center;
  width: 30%
}

h3 {
  color: #282c34;
  margin-bottom: 10px
}

.skills ul {
  list-style-type: none;
  padding: 0
}

.skills li {
  margin-bottom: 5px
}

.interests p {
  line-height: 1.6
}

.about h3 svg {
  color: #282c34;
  margin-right: 10px
}

.education:hover,
.interests:hover,
.skills:hover {
  border: 2px solid #282c34;
  border-radius: 10px;
  box-shadow: 0 0 10px #0003
}

@media (max-width:768px) {
  .about-content {
    align-items: center;
    flex-direction: column
  }

  .education,
  .interests,
  .skills {
    width: 100%
  }
}

.projects-link {
  margin-top: 20px;
  text-align: center
}

.projects-link-button {
  background-color: #282c34;
  border: none;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color .3s ease, transform .3s ease
}

.projects-link-button:hover {
  background-color: #61dafb;
  transform: scale(1.05)
}

.projects {
  align-items: center;
  background-color: #f7f7f7;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  text-align: center
}

.animation-container,
.projects {
  display: flex;
  justify-content: center
}

.animation-container {
  margin-bottom: 20px
}

.circle {
  animation: bounce .6s infinite alternate;
  background-color: #282c34;
  border-radius: 50%;
  height: 20px;
  margin: 5px;
  width: 20px
}

.circle:nth-child(2) {
  animation-delay: .2s
}

.circle:nth-child(3) {
  animation-delay: .4s
}

@keyframes bounce {
  to {
    transform: translateY(-20px)
  }
}

.no-projects-message {
  color: #282c34;
  font-size: 1.2rem
}

.contact-link {
  margin-top: 20px
}

.contact-link-button {
  background-color: #282c34;
  border: none;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color .3s ease, transform .3s ease
}

.contact-link-button:hover {
  background-color: #61dafb;
  transform: scale(1.05)
}

.contact {
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px #0000001a;
  padding: 50px
}

.contact h2 {
  color: #282c34;
  margin-bottom: 30px;
  text-align: center
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

.contact-details,
.contact-form {
  margin-bottom: 30px;
  width: 45%
}

.contact-details h3,
.contact-form h3 {
  color: #282c34;
  margin-bottom: 20px
}

.contact-details .social-links a,
.contact-details p {
  align-items: center;
  color: #282c34;
  display: flex;
  margin: 10px 0
}

.contact-details .social-links a svg,
.contact-details p svg {
  margin-right: 10px
}

.social-links {
  display: flex;
  justify-content: center
}

.social-links a {
  color: #282c34;
  font-size: 1.5rem;
  margin: 0 10px;
  transition: color .3s ease
}

.social-links a:hover {
  color: #61dafb
}

.contact-form label {
  display: block;
  margin-bottom: 15px
}

.contact-form input,
.contact-form textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  padding: 10px;
  width: 100%
}

.contact-form button {
  background-color: #282c34;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 20px;
  transition: background-color .3s ease, transform .3s ease
}

.contact-form button:hover {
  background-color: #61dafb;
  transform: scale(1.05)
}

@media (max-width:768px) {

  .contact-details,
  .contact-form {
    width: 100%
  }
}

/*# sourceMappingURL=main.38259387.css.map*/